<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses data from mapbox.com and darksky.net.</p>
            <img class="portrait" src="/img/The_Lady_of_Shallot_Looking_at_Lancelot.jpg">
        </div>

        {{>footer}}
    </body>


</html>
